{% extends "index.html" %}
{% block title %}Accounts{% endblock %}
{% block head %}
<h1> Colorado Accounts </h1>
{% endblock %}
{% block content %}
    {% block search_bar %}
        <form action="{{ url_for('hello_world') }}" class="navbar-form navbar-right" id="search-form" method="get" role="search">
          <div class="form-group">
            <input class="form-control" name="q" placeholder="Search" type="text" value="{% if search %}{{ search }}{% endif %}">
          </div>
        </form>
    {% endblock %}
    <table  class="pure-table">
        <thead>
            <td> Winning Bid </td>
            <td> Face Value </td>
            <td> Tax Year </td>
            <td> Parcel Id </td>
        </thead>
                {% for e in entries %}
                    <tr>
                        <td> {{ e.Winning_Bid }} </td>
                        <td> {{ e.Face_Value }} </td>
                        <td> {{ e.Tax_Year }} </td>
                        <td> {{ Parcel.get(Parcel.id == e.Parcel_ID).Parcel_ID }}</td>
                    </tr>
                {% endfor %}
            </ul>
        </table>
{% endblock %}