<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block search_bar %}
        <form action="{{ url_for('hello_world') }}" class="navbar-form navbar-right" id="search-form" method="get" role="search">
          <div class="form-group">
            <input class="form-control" name="q" placeholder="Search" type="text" value="{% if search %}{{ search }}{% endif %}">
          </div>
        </form>
    {% endblock %}
    {% block body %}
        <table>
            <td> Winning Bid </td>
            <td> Face Value </td>
          <ul class=entries>
              {% for e in entries %}
                  <tr>
                    <td> {{ e.Winning_Bid }} </td>
                    <td> {{ e.Face_Value }} </td>
                    <td> {{ e.Tax_Year }} </td>
                  </tr>
              {% endfor %}
          </ul>
        </table>
    {% endblock %}
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.
        {% endblock %}
    </div>
</body>
</html>
